@import "../../../../assets/stylus/px2rem.styl"

.head
  height: px2rem(50)
  line-height: @height
  display: grid
  grid-template-columns: 15% 70% 15%
  background-color #ffffff
  text-align: center
  .type-switch
    font-size: px2rem(13.5)
    