@import "~@assets/stylus/px2rem.styl"

.head
  height: px2rem(50)
  line-height: @height
  display: grid
  grid-template-columns: 15% 65% 20%
  padding-right: px2rem(10)
  background-color #ffffff
  .back-wrapper
    text-align: center
    svg
      transform: rotate(90deg)
      transform-origin: 50% 50%
  .type-switch
    text-align: center
  .tittle
    padding-left: px2rem(10)
  .type-switch
    font-size: px2rem(13.5)
    