@import "~@assets/stylus/px2rem.styl"
@import "~@assets/stylus/1pxborder.styl"

.my-history
  .list-wrapper
    padding: px2rem(85) 0 px2rem(45)
    .video-history,
    .live-history
      padding: 0 px2rem(12) px2rem(19)
      .viewed-time-group
        .group-title
          font-size: px2rem(14)
          color: #999999
          line-height: px2rem(34)
        .item-wrapper
          position: relative
          height: px2rem(73.194)
          margin-bottom: px2rem(19)
          &:last-child
            margin-bottom: 0
      .search-result
        .total
          font-size: px2rem(12)
          font-weight: bold
          margin-bottom: px2rem(10)
        .item-wrapper
          position: relative
          height: px2rem(73.194)
          margin-bottom: px2rem(19)
          &:last-child
            margin-bottom: 0
      .tips
        padding-top: px2rem(85.2)
        text-align: center
        img
          display: block
          width: px2rem(280)
          margin: 0 auto
        .text
          font-size: px2rem(16)
          color: #999999
          a
            color: #fb7299