@import "../../../../assets/stylus/px2rem.styl"

// @keyframes loadingRotate{
//   from{transform: rotate(0deg)}
//   to{transform: rotate(360deg)}
// }

@keyframes loading{
    0%{
        opacity: 1
        transform: scale(1.3)
        -webkit-transform: scale(1.3)
    }
    100%{
        opacity: 0.2
        transform: scale(.3)
        -webkit-transform: scale(.3)
    }
}
@-webkit-keyframes loading{
    0%{
        opacity: 1
        transform: scale(1.3)
        -webkit-transform: scale(1.3)
    }
    100%{
        opacity: 0.2
        transform: scale(.3)
        -webkit-transform: scale(.3)
    }
}

.loading
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  color: #ffffff
  font-size: px2rem(15)
  display: flex
  align-items: center
  justify-content: center
  z-index: 99
  .wrapper
    text-align: center
    .animation
      .loading-icon
        display: inline-block
        width: 150px
        height: 15px
        margin: 0 auto
        margin-top:100px
        > *
          display: inline-block
          width: 15px
          height: 100%
          margin-right: 5px
          border-radius: 50%
          background-color #1890ff
          animation: loading 1.04s ease infinite
          -webkit-animation: loading 1.04s ease infinite
          &:last-child
            margin-right: 0px
          &:nth-child(1)
            animation-delay:0.13s
            -webkit-animation-delay:0.13s
          &:nth-child(2)
            animation-delay:0.26s
            -webkit-animation-delay:0.26s
          &:nth-child(3)
            animation-delay:0.39s
            -webkit-animation-delay:0.39s
          &:nth-child(4)
            animation-delay:0.52s
            -webkit-animation-delay:0.52s
          &:nth-child(5)
            animation-delay:0.65s
            -webkit-animation-delay:0.65s
    .text
      display: block
      margin-top: px2rem(4)

   