@import "../../assets/stylus/px2rem.styl"

.to-top-btn
  display: none
  position: fixed
  right: px2rem(20)
  bottom: px2rem(65)
  z-index: 1
  width: px2rem(40)
  height: @width
  text-align: center
  line-height: @height
  font-size: px2rem(40)
