@import "../../../../assets/stylus/px2rem.styl"

.pw-wrapper
  font-size: px2rem(13.5)
  .input-wrapper
    background-color #ffffff
    .account-wrapper,
    .password-wrapper
      display: grid
      grid-template-columns: 22.5% 67.5% 10%
      padding: px2rem(12) 0
      border-top: px2rem(1) solid #e7e7e7
      .account-tittle,
      .password-tittle
        padding-left: px2rem(13)
      .phone-value,
      .password-value
        width: 100%
        border: none
        box-shadow: 0 0 0px 1000px #ffffff inset 
    .password-wrapper
      border-bottom: px2rem(1) solid #e7e7e7
  .forget
    display: inline-block
    width: 100%
    padding-right: px2rem(10)
    text-align: right
    font-size: px2rem(12)
    color: #fb7299
  .btn-wrapper
      display: grid
      grid-template-columns: 50% 50%
      text-align: center
      .signup,
      .login
        height: px2rem(45)
        line-height @height
        border-radius: px2rem(5)
      .signup
        margin-left: px2rem(13)
        margin-right: px2rem(5)
        border: solid px2rem(1) #fb7299
        color: #fb7299
      .login
        margin-left: px2rem(5)
        margin-right: px2rem(13)
        color: #ffffff
        background-color: #ff9db5
  .protocols-wrapper
    text-align: center
    font-size: px2rem(10)
    a
      color: #fb7299