@import "../../../../assets/stylus/px2rem.styl"

.finish-cover
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  overflow hidden
  .cover-pic
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: @width
    z-index: -1
  .cover-wrapper
    position: relative
    height: 100%
    padding: 0 px2rem(12)
    color: #ffffff
    background-color: rgba(0, 0, 0, .8)
    .replay
      position: absolute
      right: 0
      bottom: 0
      width: px2rem(100)
      height: px2rem(60)
      .replay-icon
        font-size: px2rem(25)
        svg
          position: absolute;
          top: 50%;
          transform: translateY(-50%)
      .replay-words
        position: absolute
        left: px2rem(30)
        top: 50%
        transform: translateY(-50%)
        width: px2rem(60)
        height: px2rem(30)
        line-height: @height
        font-size: px2rem(15)