@import "../../../../assets/stylus/px2rem.styl"
@import "../../../../assets/stylus/1pxborder.styl"

.slide-wrapper
  overflow: hidden
  padding-top: px2rem(5)
  background-color: #f4f4f4
  .content-wrapper
    position: relative
    &.moving
      transition: .5s
    &>*
      position: absolute
      top: 0
      left: 0
      right: 0
      width: 100vw
      will-change: transform
      &.current
        position: relative
      // for n in (2..4)
      // // &:nth-child(n+2)
      //   // transform: translate3d(100vw, 0, 0)
      //   &:nth-child({n})
      //     transform: translate3d(100vw * (n - 1) , 0, 0)