@import "../../../../assets/stylus/px2rem.styl"

@keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}
@-webkit-keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}
gradually-hide-style(hideTime)
  animation: hide (hideTime)ms ease-in;
  -webkit-animation: hide (hideTime)ms ease-in;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;

.last-pos-wrapper
  position: absolute
  bottom: px2rem(50)
  z-index: 2
  padding: px2rem(3) px2rem(5)
  background-color: rgba(0, 0, 0, .4)
  font-size: px2rem(10)
  .last-pos
    color: #ffffff
  .jump-to-pos
    margin-left: px2rem(10)
    color: #de698c
  &.gradually-hide
    gradually-hide-style(500)