@import "../../../../assets/stylus/px2rem.styl"
@import "../../../../assets/stylus/1pxborder.styl"

.my-space
  .switcher-area
    .video-history,
    .live-history
      padding: 0 px2rem(12) px2rem(19) px2rem(12)
      background-color: #f4f4f4
      .history-item
        margin-top: px2rem(8)
        .item-title
          font-size: px2rem(14)
          color: #999999
          line-height: px2rem(34)
        .item-wrapper
          height: px2rem(73.194)
          margin-bottom: px2rem(19)
          &:last-child
            margin-bottom: 0
          .img-container
            position: relative
            float: left
            width: px2rem(117.312)
            height: 100%
            border-radius: px2rem(4)
            background-color: #e7e7e7
            overflow: hidden
            text-align: center
            .placeholder
              font-size: px2rem(40)
              color: rgb(204, 204, 204)
              svg
                height: 100%
            img
              position: absolute
              left: 0
              top: 0
              width: 100%
            .progress-wrapper
              position: absolute
              bottom: 0
              width: 100%
              height: px2rem(4)
              background-color:  rgb(88, 95, 99)
              .cur-progress
                height: 100%
                background-color: #fb7299
          .info
            margin-left: px2rem(130)
            position: relative
            .title
              height: px2rem(34)
              line-height: px2rem(17)
              font-size: px2rem(14)
              color: #212121
              overflow: hidden
            .owner-wrapper,
            .streamer-wrapper,
            .time
              position: absolute
              height: px2rem(22)
              line-height: px2rem(22)
              font-size: px2rem(12)
              color: #999999
            .owner-wrapper,
            .streamer-wrapper
              top: px2rem(33)
              .icon-up
                font-size: px2rem(16)
              .owner
                margin-left: px2rem(6)
            .streamer-wrapper
              width: 100%
              .live-status
                float: right
                padding: 0 px2rem(2)
                border-radius: px2rem(3)
                color: #ffffff
                background-color: rgb(190,190,190)
                &.live
                  background-color: #fb7299
            .time
              top: px2rem(52)
              .platform
                margin-right: px2rem(6)
                font-size: px2rem(16)
      .tips
        padding-top: px2rem(85.2)
        text-align: center
        img
          display: block
          width: px2rem(280)
          margin: 0 auto
        .text
          font-size: px2rem(16)
          color: #999999
          a
            color: #fb7299
    // .my-videos
    //   padding-top: px2rem(85.2)
    //   text-align: center
    //   img
    //     display: block
    //     width: px2rem(280)
    //     margin: 0 auto
    //   .text
    //     font-size: px2rem(16)
    //     color: #999999
  .clear-history
    position: fixed
    bottom: px2rem(25)
    right: px2rem(20)
    z-index: 1
    width: px2rem(40)
    height: @width
    text-align: center
    line-height: @height
    font-size: px2rem(30)