@import "~@assets/stylus/px2rem.styl"

.top-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #ffffff
  z-index: 1
  padding-bottom: px2rem(2)
.top-bottom
  padding-top: px2rem(82)
.ranking-list
  padding-top: px2rem(16)
  padding-bottom: px2rem(47)
  background-color: #f4f4f4
.loading
  position: absolute
  width: 100%
  top: px2rem(86)
  bottom: 0
  padding-top: px2rem(160)
  font-size: px2rem(16)
  text-align: center
  color: #212121
  background-color: #f4f4f4
