.loading-wrapper
  width: 100vw
  height: 100vh
  // display:flex;
  // align-items: center
  background-image: url("../../assets/images/loading.gif")
  background-repeat: no-repeat
  background-position:center;
  // .loading-pic
  //   margin: 0 auto