@import "~@assets/stylus/px2rem.styl"

.bat-del-item
  position: relative
  .circle
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: inline-block
    width: px2rem(20)
    height: @width
    box-sizing: content-box
    border: px2rem(1) solid #999999
    border-radius: 50%
    svg
      position: absolute
      left: px2rem(-2)
      top: px2rem(-2)
      font-size: px2rem(25)
      color: #fb7299
  .content-Wrapper
    &.editting
      margin-left: px2rem(35)