@import "../../../../assets/stylus/px2rem.styl"

.title
  margin-left: px2rem(12)
  font-size: px2rem(16)
  color: #212121
  line-height: px2rem(53.11)
.ranking
  position: absolute
  top: px2rem(14)
  right: px2rem(12)
  height: px2rem(25)
  line-height: @height
  color: #ffa726
  .text
    margin: 0 px2rem(5)
    font-size: px2rem(14.1)
  .more
    font-size: px2rem(15)
    svg 
      transform: rotateZ(-90deg)
.recommend-content
  padding: 0 px2rem(6)