@import "../../assets/stylus/px2rem.styl"

* 
  box-sizing: border-box
.header
  display: flex
  height: px2rem(45)
  border-bottom: px2rem(0.2) solid #E6E6FA
  background-color #fff
  .back-btn
    width: px2rem(80)
    padding-left: px2rem(7)
    color: rgb(251, 114, 153)
    font-size: px2rem(20)
    background-color: green
    svg
      height: 100%
      line-height: @height
  .logo-wrapper
    flex: 1
    text-align: center
    .logo
      margin-top: px2rem(-29)
      font-size: px2rem(75)
  .tools
    position: relative
    width: px2rem(80)
    background-color: orange
    .search-icon
      position: absolute
      right: px2rem(55)
      display: inline-block
      height 100%
      font-size: px2rem(25)
      color: rgb(138, 138, 138)
      svg
        height: 100%
        line-height: @height
    .avatar
      position: absolute
      right: px2rem(18)
      display: inline-block
      height 100%
      font-size: px2rem(25)
      svg
        height: 100%
        line-height: @height
        border-radius: 50%
