@import "../../../../assets/stylus/px2rem.styl"
  
.basic-info
  display: grid
  grid-template-columns: 20% 40% 40%
  padding: px2rem(10) px2rem(20)
  .left
    display: flex
    justify-content: center
    align-items: center
    width: px2rem(60)
    height: px2rem(60)
    border-radius: 50%
    overflow: hidden
    img
      height: 100%
  .middle
    padding-left: px2rem(10)
    .name-and-lv
      display: flex
      align-items: center
      height: px2rem(20)
      .uname
        font-size: px2rem(17)
      .level
        margin-left: px2rem(3)
        font-size: px2rem(30)
    .account-type
      height: px2rem(30)
      .membership
        padding: px2rem(2) px2rem(5)
        border-radius: px2rem(3)
        background-color: #fb7299
        color: #ffffff
        font-size: px2rem(1)
  .right
    position: relative
    color: #999999
    .link
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      font-size: px2rem(13)
      .arrow
        svg
          transform: rotate(-90deg)
          transform-origin: 50% 50%

       