@import "~@assets/stylus/px2rem.styl"
@import "~@assets/stylus/colors.styl"

@keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}
@-webkit-keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}
gradually-hide-style(hideTime)
  animation: hide (hideTime)ms ease-in;
  -webkit-animation: hide (hideTime)ms ease-in;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;

.control-bar
  position: absolute
  bottom: 0
  width: 100%
  height: px2rem(48)
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
  z-index: 3
  &.gradually-hide
    gradually-hide-style(500)
  .live-duration
    height: px2rem(15)
  .progress-bar
    height: px2rem(15)
    display: flex
    align-items: center
    .cur-time,
    .total-time
      width: px2rem(50)
      text-align: center
      font-size: px2rem(12)
      color: #fff
    .progress-wrapper
      flex: 1
      position: relative
      margin: px2rem(0) px2rem(10)
      height: px2rem(2)
      background-color: #4c4c4c
      .progress
        position: absolute
        top: 0
        left: 0
        height: 100%
        background-color: #de698c
        .progress-btn
          position: absolute
          top: px2rem(-6.6)
          right: px2rem(-14)
          width: px2rem(14)
          height: px2rem(14)
          background-image: url("../../../../assets/images/progress-btn.svg")
  .live-duration
    margin-left: px2rem(15)
    line-height: px2rem(34)
    opacity: .85
    color: #ffffff
    font-size: px2rem(12)
    font-weight: bold
    font-family: arial, sans-serif
  .ctr-bar-bottom
    height: px2rem(33)
    .control-bar-play-btn
      display: inline-block
      position: absolute
      left: px2rem(10)
      bottom: px2rem(6)
      width: px2rem(25)
      height: px2rem(25)
      opacity: .85
      svg
        font-size: px2rem(25)
        height: 100%
        line-height: @height 
      color: #ffffff
    .barrage-btn
      position: absolute
      bottom: px2rem(4)
      left: px2rem(45)
      font-size: px2rem(24)
      color: #ffffff
    .send-barr
      position: absolute
      left: px2rem(80)
      right: px2rem(80)
      bottom: px2rem(10)
      height: px2rem(20)
      line-height: @height
      padding-left: px2rem(10)
      background-color: #e7e7e7
      span
        position: absolute
        left: px2rem(-7)
        display: inline-block
        width: 118%
        font-size: px2rem(10)
        transform:scale(0.85) // chrome规定font-size不能小于12px,故只能缩放
        color: tab-gray
      .login
        a
          color: #fb7299
    .speed-btn
      position: absolute
      right: px2rem(45)
      bottom: px2rem(5)
      font-size: px2rem(24)
      color: #ffffff
    .fullscreen-btn
      position: absolute
      right: px2rem(10)
      bottom: px2rem(5)
      font-size: px2rem(24)
      color: #ffffff