@import "../../../../../assets/stylus/px2rem.styl"

.switch
  background-color: orange
  .icon
    &.show
      transform: translate3d(0, -100%, 0)
.content-wrapper
  overflow: hidden
  transition: height .4s
  &.set-zero
    height: 0

