@import "../../assets/stylus/px2rem.styl"

.header
  display: flex
  height: px2rem(45)
  border-bottom: px2rem(1) solid #bababa
  background-color #fff
  .back-wrapper
    width: px2rem(55)
    .back-btn
      position: absolute
      top: 50%
      transform: translateY(-50%)
      padding-left: px2rem(17)
      font-size: px2rem(15)
      svg
        transform: rotate(90deg)
        transform-origin: 50% 50%
  .list-type
    flex: 1
    height: px2rem(45)
    line-height: @height
    font-size: px2rem(17)
  .tools
    position: relative
    width: px2rem(90)
    color: #757575
    .search
      position: absolute
      top: 51%
      transform:translateY(-50%)
      right: px2rem(60)
      display: inline-block
      width: px2rem(25)
      height: @width
      line-height: @height
      font-size: px2rem(20)
    .edit
      position: absolute
      top: 50%
      transform:translateY(-50%)
      right: px2rem(18)
      height: px2rem(25)
      line-height: @height
      font-size: px2rem(12)
