@import "../../assets/stylus/px2rem.styl"

.header
  position: relative
  height: px2rem(45)
  padding: px2rem(8) 0
  border-bottom: px2rem(0.2) solid #E6E6FA 
  .logo
    display: inline-block
    height px2rem(45)
    line-height: @height
    margin: px2rem(-25) 0 0 px2rem(18)
    font-size: px2rem(75)
  .search-icon
    position: absolute
    right: px2rem(55)
    display: inline-block
    height 100%
    line-height: @height
    font-size: px2rem(25)
    color: rgb(138, 138, 138)
  .avatar
    position: absolute
    right: px2rem(18)
    display: inline-block
    height 100%
    line-height: @height
    font-size: px2rem(25)
    svg
      border-radius: 50%
a
  text-decoration: none
    