@import "../../assets/stylus/px2rem.styl"

.header
  height: px2rem(28)
  padding: px2rem(8) 0
  // background-color: #ffffff
  background-color: orange
  .logo
    display: inline-block
    width: px2rem(62)
    margin-left: px2rem(18vw)
  .avatar
    float: right
    width: px2rem(24)
    height: @width
    margin-right: px2rem(10vw)
    background-color: green
    svg
      border-radius: 50%
  .search-icon
    float: right
    font-size: px2rem(24)
    margin-right: px2rem(15vw)
    background-color: green
a
  text-decoration: none
    