@import "../../assets/stylus/px2rem.styl"

.tab-bar-wrapper
  overflow: hidden
  .tab-bar
    display: flex
    margin: 0
    padding: 0
    height: px2rem(40)
    &.slide-ani
      transition: all 0.3s ease-out
    .underline
      position: absolute
      left: 0
      bottom: px2rem(2)
      border-bottom: px2rem(2.2) solid #fb7299
      transition: all 0.3s ease-out
    .tab
      flex: 0 0 auto
      padding: 0 px2rem(16)
      user-select: none
      color: #757575
      &.highlight
        color: #fb7299
      span
        position: relative
        display: inline-block
        padding: 0 px2rem(2)
        font-size: px2rem(14)
        line-height: px2rem(40)
