@import "~@assets/stylus/px2rem.styl"

.main
  margin-top: px2rem(120)
  background-color: #f4f4f4
  .banner
    padding-bottom: px2rem(12)
    & > div
      height: px2rem(117)
  .room-container
    padding: 0 px2rem(12)
    margin: 0 px2rem(10) px2rem(12)
    border-radius: 3%
    background-color: #ffffff
    &:nth-last-child(2)
      margin-bottom: 0
    .title
      line-height: px2rem(32)
      padding: px2rem(6) 0
      margin: 0
      font-size: px2rem(16)
      font-weight: normal
      color: #181818
      .more
        float: right
        display: inline-block
        position: relative
        top: px2rem(5)
        height: px2rem(20)
        line-height: @height
        padding-right: px2rem(25)
        font-size: px2rem(13)
        color: #919799
        svg
          position: absolute
          top: 50%
          transform: translateY(-50%)
          margin-left: px2rem(4)
          font-size: px2rem(20)
          color: rgb(204,204,204)
    .rooms
      padding: 0 px2rem(5)
      .room-wrapper
        display: inline-block
        width: 50%
        margin-bottom: px2rem(10)
        position: relative
        &:nth-child(2n)
          left: px2rem(5)
        &:nth-child(2n+1)
          right: px2rem(5)
// 以下是swiper的样式
:global(.swiper-pagination)
  width: auto !important
  left: auto !important
  right: px2rem(5) !important
  bottom: px2rem(8) !important
:global(.swiper-pagination-bullet)
  float: left
  width: px2rem(6)
  height: @width
  margin: px2rem(2) !important
  border-radius: px2rem(3)
  background-color: #ffffff
  opacity: 1
:global(.swiper-pagination-bullet-active)
  background-color: #fb7299
  