@import "../../../assets/stylus/px2rem.styl"

@keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}
@-webkit-keyframes hide {
  0% {opacity: 1;} 
  100% {opacity: 0;}
}

// @keyframes loadingRotate{
//   from{transform: rotate(0deg)}
//   to{transform: rotate(360deg)}
// }

gradually-hide-style(hideTime)
  animation: hide (hideTime)ms ease-in;
  -webkit-animation: hide (hideTime)ms ease-in;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;

// 关于z-index的设置：
// video-area为0，在最底层，这样就不会遮住弹幕层
// barrage为1，点击视频区域时，会触发的相关事件监听器均加在这一层
// 各控制按钮为2，保证不被前两层遮盖而点不到

.video-player
  position: relative
  height: 100%
  .check
    position: absolute
    top: 0
    left 0
    width px2rem(50)
    height px2rem(50)
    background-color: orange
    z-index 999
  .player-wrapper
    // &.full-screen
    //   height: 100vw
    //   width: 100vh
    //   z-index 999
    //   transform: rotate(90deg) translate(0, -100vw)
    //   transform-origin: 0% 0%
    .video-area
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      video
        background-color: #000000
    .barrage
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1
      height: 100%
      user-select: none
    .control-container
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      .cur-volume-container
        position: absolute
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
        width: px2rem(100)
        height: px2rem(28)
        line-height: @height
        padding: 0 px2rem(10)
        border-radius: 5%
        background-color: rgba(0, 0, 0, .4)
        font-size: px2rem(15)
        color: #ffffff
        .volume-bar-container
          position: absolute
          top: px2rem(-4)
          display: inline-block
          margin-left: px2rem(5)
          width: px2rem(60)
          height: px2rem(2)
          .cur-volume
            display: inline-block
            height: 100%
            background-color: #de698c
      .cur-brightness-container
        position: absolute
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
        width: px2rem(100)
        height: px2rem(28)
        line-height: @height
        padding: 0 px2rem(10)
        border-radius: 5%
        background-color: rgba(0, 0, 0, .4)
        font-size: px2rem(15)
        color: #ffffff
        .britness-bar-container
          position: absolute
          top: px2rem(-4)
          display: inline-block
          margin-left: px2rem(5)
          width: px2rem(60)
          height: px2rem(2)
          .cur-brightness
            display: inline-block
            height: 100%
            background-color: #de698c
      .speed-container
        width: 100%
        height: 100%
      .play-button
        position: absolute
        right: px2rem(12)
        bottom: px2rem(56)
        width: px2rem(46)
        height: px2rem(46)
        z-index: 2
        opacity: .85
        background-size: 100% auto
        svg
          font-size: px2rem(46)
          color: #ffffff
      .control-bar
        position absolute
        bottom: 0
        width: 100%
        height: px2rem(44)
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
        z-index: 2
        &.gradually-hide
          gradually-hide-style(500)
        .control-bar-play-btn
          display: inline-block
          position: absolute
          left: px2rem(5)
          top: px2rem(9)
          width:px2rem(25)
          height: px2rem(25)
          opacity: .85
          svg
            font-size: px2rem(25)
            height: 100%
            line-height: @height 
          color: #ffffff
        &.live-control
          background-color: transparent
          background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7))
          .left
            margin-left: px2rem(12)
        .left
          display: inline-block
          position: absolute
          left: px2rem(26)
          top: px2rem(5)
          line-height: px2rem(34)
          opacity: .85
          color: #ffffff
          font-size: px2rem(12)
          font-family: arial, sans-serif
          & > span
            display: inline-block
          .time, .total-duration
            width: px2rem(40)
          .time
            text-align: right
          .split
            width: px2rem(7.6)
            text-align: center
          .total-duration
            text-align: left
        .center
          position: absolute
          left: px2rem(110)
          top: px2rem(21)
          right: px2rem(115)
          height: px2rem(2)
          .progress-wrapper
            position: relative
            height: 100%
            background-color: #4c4c4c
            .progress
              position: absolute
              top: 0
              left: 0
              height: 100%
              background-color: #de698c
              .progress-btn
                position: absolute
                top: px2rem(-6.6)
                right: px2rem(-14)
                width: px2rem(14)
                height: px2rem(14)
                background-image: url("../../../assets/images/progress-btn.svg")
        .right
          float: right
          margin-right: px2rem(10)
          display:flex
          align-items: center
          opacity: .85
          .speed-btn,
          .barrage-btn,
          .fullscreen-btn
            display: inline-block
            position: absolute
            top: 50%;
            transform:translateY(-50%);
            right: px2rem(78)
            width: px2rem(24)
            height: @width
            line-height: @height
            font-size: px2rem(24)
            color: #ffffff
          .barrage-btn
            right: px2rem(44)
          .fullscreen-btn
            right: px2rem(10)
    .cover
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      font-size: px2rem(15)
      color: #ffffff
      background-color: #7d7d7d
      overflow: hidden
      z-index: 3
    .notice-cover
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 100
      background-color: #000000
      .notice-wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        i
          display: block
          width: px2rem(200)
          height: px2rem(114)
          background-image: url("../../../assets/images/nocontent.png")
          background-repeat: no-repeat
          background-size: 100% 100%
        span
          display: block
          text-align: center
          font-size: px2rem(14)
          color: #23ade5
