@import "../../../assets/stylus/px2rem.styl"
@import "../../../assets/stylus/1pxborder.styl"

.switcher-wrapper
  height: 100%
//   overflow: hidden
//   z-index: 0
//   padding-top: px2rem(5)
//   background-color: #f4f4f4