@import "../../../../../assets/stylus/px2rem.styl"

.favorites
  .top-wrapper
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
  .tab-wrapper
    position: fixed
    top: px2rem(45)
    left: px2rem(5)
    width: 100%
    z-index: 10
  .list-wrapper
    padding: px2rem(85) px2rem(12) px2rem(45)
    .fav-item
      margin-top: px2rem(19)
      height: px2rem(73.08)
      .image-container
        position: relative
        float: left
        width: px2rem(117.5)
        height: 100%
        border-radius: px2rem(6)
        overflow: hidden
        background-color: #e7e7e7
        text-align: center
        .placeholder
          font-size: px2rem(60)
          color: rgb(204, 204, 204)
          svg
            height: 100%
        img
          position: absolute
          left: 0
          top: 0
          width: 100%
      .info-wrapper
        position: relative
        margin-left: px2rem(130)
        margin-right: px2rem(12)