@import "../../../../../assets/stylus/px2rem.styl"

.favorites
  .top-wrapper
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
  .tab-wrapper
    position: fixed
    top: px2rem(45)
    left: px2rem(5)
    width: 100%
    z-index: 10
  .list-wrapper
    padding: px2rem(85) px2rem(12) px2rem(45)
