@import "~@assets/stylus/px2rem.styl"

body
  background-color: #f4f4f4
.top-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #ffffff
  z-index: 10
.special-line1
  padding-top: px2rem(124)
.special-line2
  padding-top: px2rem(84)
.partition-wrapper
  .recommend
    position: relative
