@import "../../../../assets/stylus/px2rem.styl"

.partition
  position: relative
  .title
    margin-left: px2rem(12)
    font-size: px2rem(16)
    color: #212121
    line-height: px2rem(40)
  .more
    position: absolute
    top: px2rem(6)
    right: px2rem(12)
    font-size: px2rem(14.1)
    color: #999999
    .word
      margin-right: px2rem(7)
    svg
      transform: rotateZ(-90deg)
  .partition-content
    padding: 0 px2rem(6)
