@import "../../assets/stylus/px2rem.styl"

// 关于z-index的设置：
// video-area为0，在最底层，这样就不会遮住弹幕层
// barrage为1，点击视频区域时，会触发的相关事件监听器均加在这一层
// 各控制按钮为2，保证不被前两层遮盖而点不到
// 每一条弹幕DOM为99

.video-player
  position: relative
  height: 100%
  .player-wrapper
    // &.full-screen
    //   height: 100vw
    //   width: 100vh
    //   z-index 999
    //   transform: rotate(90deg) translate(0, -100vw)
    //   transform-origin: 0% 0%
    .video-area
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      video
        background-color: #000000
    .barrage
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1
      height: 100%
      user-select: none
    .control-container
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      .cur-volume-container
        position: absolute
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
        width: px2rem(100)
        height: px2rem(28)
        line-height: @height
        padding: 0 px2rem(10)
        border-radius: 5%
        background-color: rgba(0, 0, 0, .4)
        font-size: px2rem(15)
        color: #ffffff
        .volume-bar-container
          position: absolute
          top: px2rem(-4)
          display: inline-block
          margin-left: px2rem(5)
          width: px2rem(60)
          height: px2rem(2)
          .cur-volume
            display: inline-block
            height: 100%
            background-color: #de698c
      .cur-brightness-container
        position: absolute
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
        width: px2rem(100)
        height: px2rem(28)
        line-height: @height
        padding: 0 px2rem(10)
        border-radius: 5%
        background-color: rgba(0, 0, 0, .4)
        font-size: px2rem(15)
        color: #ffffff
        .britness-bar-container
          position: absolute
          top: px2rem(-4)
          display: inline-block
          margin-left: px2rem(5)
          width: px2rem(60)
          height: px2rem(2)
          .cur-brightness
            display: inline-block
            height: 100%
            background-color: #de698c
      .speed-container
        width: 100%
        height: 100%
      .play-button
        position: absolute
        right: px2rem(12)
        bottom: px2rem(56)
        width: px2rem(46)
        height: px2rem(46)
        z-index: 2
        opacity: .85
        background-size: 100% auto
        svg
          font-size: px2rem(46)
          color: #ffffff
    .notice-cover
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 100
      background-color: #000000
      .notice-wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        i
          display: block
          width: px2rem(200)
          height: px2rem(114)
          background-image: url("../../assets/images/nocontent.png")
          background-repeat: no-repeat
          background-size: 100% 100%
        span
          display: block
          text-align: center
          font-size: px2rem(14)
          color: #23ade5
