@import "~@assets/stylus/px2rem.styl"

.video-wrapper
  margin-top: px2rem(20)
  &:first-child
    margin-top: 0
  .ranking
    float: left
    width: px2rem(49.35)
    line-height: px2rem(73.08)
    text-align: center
    color: #999999
    font-size: px2rem(14)
    svg
      vertical-align: middle
      font-size: 1.8rem
  .info
    position relative
    height: px2rem(73.08)
    margin-left: px2rem(49.35)
    margin-right: px2rem(12)
