@import "../../../assets/stylus/px2rem.styl"

body
  background-color: #f4f4f4
.top-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #ffffff
  z-index: 10
.special-line1
  padding-top: px2rem(124)
.special-line2
  padding-top: px2rem(84)
.partition-wrapper
  .recommend
    position: relative
    .title
      margin-left: px2rem(12)
      font-size: px2rem(16)
      color: #212121
      line-height: px2rem(53.11)
    .ranking
      position: absolute
      top: px2rem(14)
      right: px2rem(12)
      height: px2rem(25)
      line-height: @height
      color: #ffa726
      .text
        margin: 0 px2rem(5)
        font-size: px2rem(14.1)
      .more
        font-size: px2rem(15)
        svg 
          transform:rotate(180deg)
    .recommend-content
      padding: 0 px2rem(6)
