@import "~@assets/stylus/px2rem.styl"

.list
  .item
    padding: px2rem(10) 0
    height: px2rem(138)
    border-bottom: px2rem(1.5) solid #e7e7e7
    .image-container
      position: relative
      float: left
      width: px2rem(88.5)
      height: 100%
      border-radius: px2rem(6)
      overflow: hidden
      background-color: #e7e7e7
      text-align: center
      .placeholder
        font-size: px2rem(60)
        color: rgb(204, 204, 204)
      .cover
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
    .info-wrapper
      margin-left: px2rem(100)
      margin-right: px2rem(12)
      height: 100%
      position: relative
      .title
        position: absolute
        top: 0
        width: 100%
        font-size: px2rem(13)
        font-weight: bold
        overflow hidden
        white-space: nowrap
        text-overflow: ellipsis
        color: #212121
        letter-spacing: 0
        word-break: break-all
      .badges
        position: absolute
        top: 20%
        font-size: px2rem(10)
        color: #ffffff
        .vip
          border-radius: px2rem(3)
          padding: px2rem(1) px2rem(4)
          background-color: #FB7299
          margin-right: px2rem(10)
        .sole
          border-radius: px2rem(3)
          padding: px2rem(1) px2rem(4)
          background-color: #00C0FF
      .subtitle
        position: absolute
        bottom: 40%
        font-size: px2rem(10)
        color: #888888
      .total
        position: absolute
        bottom: 20%
        font-size: px2rem(10)
        color: #888888
      .progress
        position: absolute
        bottom: 0
        font-size: px2rem(10)
        color: #888888
  .load-more
    margin-top: px2rem(8)
    text-align: center
    color: #FB7299
  .nothing
    margin-top: px2rem(8)
    text-align: center
    margin-top: px2rem(20)
    font-size: px2rem(10)
    color: #888888