@import "~@assets/stylus/px2rem.styl"
@import "~@assets/stylus/colors.styl"

.edit-barr
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 4
  height: px2rem(333)
  background-color: background-gray
  visibility: hidden
  &.show
    visibility: visible
  &.horizontal
    height: px2rem(150)
  .send-box
    height: px2rem(45)
    display: flex
    align-items: center
    background-color: #fff
    .cancel-btn
      width: px2rem(50)
      height: px2rem(45)
      line-height: @height
      text-align: center
    .input-wrapper
      flex: 1
      height: px2rem(30)
      display: grid
      grid-template-columns: 90% 10%
      background-color: background-gray
      border-radius: px2rem(15)
      overflow: hidden
      .barr-input
        background-color: background-gray
        padding: 0 px2rem(15)
        font-size: px2rem(10)
        color: #505050
    .send-btn
      width: px2rem(50)
      height: px2rem(45)
      line-height: @height
      text-align: center
      svg
        color: theme-pink
        font-size: px2rem(22)
  .edit-area
    padding: px2rem(30) px2rem(5) px2rem(25) px2rem(15)
    .opt-categery
      display: flex
      .name
        width: px2rem(100)
        height: px2rem(50)
        text-align: center
        color: tab-gray
        font-size: px2rem(10)
      .options
        flex: 1
        .word-opt
          display: inline-block
          vertical-align: top
          text-align: center
          width: px2rem(26)
          height: px2rem(22)
          margin-right: px2rem(20)
          color: tab-gray
          font-size: px2rem(10)
          &.current
           color: theme-pink
    .edit-color
      display: flex
      .color-name
        width: px2rem(100)
        text-align: center
        color: tab-gray
        font-size: px2rem(10)
      .color-opts
        flex: 1
        li
          display: inline-block
          width: px2rem(26)
          height: px2rem(22)
          border-radius: px2rem(4)
          margin: 0 px2rem(20) px2rem(25) 0
          padding: px2rem(2)
          background-clip: content-box
          &.current
            border: 1px solid
        .white
          background-color: #fff
          border-color: @background-color !important
        .red
          background-color: #FE0302
          border-color: @background-color !important
        .orange
          background-color: #FF7204
          border-color: @background-color !important
        .light-ora
          background-color: #FFAA02
          border-color: @background-color !important
        .yellow
          background-color: #FFD302
          border-color: @background-color !important
        .lemon
          background-color: #FFFF00
          border-color: @background-color !important
        .grass
          background-color: #A0EE00
          border-color: @background-color !important
        .leaf
          background-color: #00CD00
          border-color: @background-color !important
        .lake
          background-color: #019899
          border-color: @background-color !important
        .blue
          background-color: #4266BE
          border-color: @background-color !important
        .sky
          background-color: #89D5FF
          border-color: @background-color !important
        .purple
          background-color: #CC0273
          border-color: @background-color !important
        .black
          background-color: #222222
          border-color: @background-color !important
        .gray
          background-color: #9B9B9B
          border-color: @background-color !important