@import "~@assets/stylus/px2rem.styl"

.bottom-wrapper
  position: fixed
  bottom: 0
  width: 100%
  height: px2rem(45)
  padding-left: px2rem(12)
  background-color: #ffffff
  display: flex
  align-items: center
  .all
    flex: 3
    display: flex
    .circle
      flex: 1
      position: relative
      .hollow
        display: inline-block
        width: px2rem(20)
        height: @width
        box-sizing: content-box
        border: px2rem(1) solid #999999
        border-radius: 50%
      .solid
        position: absolute
        left: px2rem(-1)
        top: px2rem(-6)
        font-size: px2rem(25)
        color: #fb7299
    .word
      flex:4
  .delete
    flex: 1
    &.actived
      color: #fb7299
