@import "~@assets/stylus/px2rem.styl"
@import "~@assets/stylus/1pxborder.styl"

.up-user-container
  position: relative
  padding: px2rem(60) px2rem(12) px2rem(18) px2rem(12)
  .face
    position: absolute
    top: px2rem(-40)
    left: .6rem
    width: px2rem(80)
    height: @width
    border-radius: 50%
    background-color: #e7e7e7
    overflow hidden
    text-align: center
    svg
      height: 100%
      line-height: @height
      font-size: px2rem(50)
    img
      width: 100%
  .info
    height: px2rem(27)
    line-height: @height
    span
      float: left
    &:after
      content: ""
      display: block
      height: 0
      clear: both
    .name
      font-size: px2rem(20)
      color: #212121
    .sex
      margin-left: px2rem(5)
      font-size: px2rem(18)
    .level
      margin-left: px2rem(5)
      font-size: px2rem(27)
    .uid
      margin-left: px2rem(5)
      font-size: px2rem(13)
      color: #212121
  .detail
    margin-top: px2rem(10)
    .stats
      font-size: px2rem(14)
      color: #757575
      .follow, .fans
        color: #212121
      .fans
        margin-left: px2rem(20)
    .introduce
      position: relative
      height: px2rem(16)
      margin-top: px2rem(12)
      transition: height .5s
      transform: translateZ(0)
      overflow: hidden
      .icon-arrow
        position: absolute
        right: px2rem(12)
        font-size: px2rem(18)
        color: #757575
        transition: transform .3s // transform也能加过渡效果
        &.rotate
          transform: rotateZ(180deg)
      .content
        margin-right: px2rem(50)
        line-height: px2rem(16)
        font-size: px2rem(13)
        color: #999999
        word-wrap: break-word
.masterpiece
  padding-bottom: px2rem(12)
  .title
    padding-left: px2rem(12)
    font-size: px2rem(14)
    line-height: px2rem(40)
    color: #212121
  .video-list
    padding-left: px2rem(12)
    padding-bottom: px2rem(12)
    .video-wrapper
      borderBottom(#cccccc)
      position relative
      height: px2rem(73.08)
      margin-top: px2rem(18)
      overflow hidden
      &:first-child
        margin-top: 0
      &:last-child
        &:after
          display: none
  .load-more
    line-height: px2rem(40)
    font-size: px2rem(14.1)
    text-align: center
    color: #fb7299
    background-color: #e7e7e7
  .loading
    line-height: px2rem(40)
    font-size: px2rem(14.1)
    text-align: center
    color: #999999
  .tips
    text-align: center
    img
      display: block
      width: px2rem(240)
      margin: 0 auto
    .text
      display: inline-block
      margin-top: px2rem(20)
      font-size: px2rem(16)
      color: #999999
