@import "~@assets/stylus/px2rem.styl"

.partition
  position: relative
  .one-tab-bar
    margin-right: px2rem(56)
  .switch
    position: absolute
    top: 0
    bottom: 0
    right: px2rem(22)
    line-height: px2rem(40)
    font-size: px2rem(18)
    color: #757575
.drawer-position
  position: absolute
  width: 100%
  top: px2rem(44)
  z-index: 2
.two-tab-bar
  background-color: #f9f9f9