@import "../../../../assets/stylus/px2rem.styl"

.header
  position relative
  height: px2rem(40)
  line-height: px2rem(40)
  text-align: center
  font-size: px2rem(15.98)
  color: #fb7299
  .back-btn
    position: absolute
    left: px2rem(7)
    font-size: px2rem(20)
    svg
      transform: rotate(90deg)
      transform-origin: 50% 50%