@import "../../../../../../assets/stylus/px2rem.styl"

.videos
  height: px2rem(70)
  margin: px2rem(10) 0
  display: grid
  grid-template-columns: 25% 25% 25% 25% 
  text-align: center
  .link
    display: grid
    grid-template-rows: 50% 50%
    .icon,
    .word
      display: inline-block
      height: px2rem(35)
      line-height: @height
    .icon
      font-size: px2rem(35)
      svg
        color: #00a1d6
    .word
      font-size: px2rem(10)
