@import "../../../../../assets/stylus/px2rem.styl"
    
.top
  position: fixed
  top: px2rem(45)
  left: 0
  right: 0
  background-color #fff
  .basic-info
    height: px2rem(75)
    display: grid
    grid-template-columns: 23% 57% 20%
    margin: px2rem(20) px2rem(15)
    .portrait
      display: flex
      justify-content: center
      align-items: center
      width: px2rem(75)
      height: @width
      border-radius: 50%
      overflow: hidden
      img
        height: 100%
    .descriptions
      padding-left: px2rem(10)
      height: px2rem(75)
      display: grid
      grid-template-rows: 33.33% 33.33% 33.33%
      .name-and-lv
        display: flex
        align-items: center
        .uname
          font-size: px2rem(18)
        .level
          margin-left: px2rem(3)
          font-size: px2rem(30)
      .account-type
        position: relative
        .membership
          position: absolute
          top: 50%
          transform: translateY(-50%)
          padding: px2rem(2) px2rem(5)
          border-radius: px2rem(3)
          background-color: #fb7299
          color: #ffffff
          font-size: px2rem(1)
      .other-info
        font-size: px2rem(12)
        color: #888888
        .moral
          margin-left: px2rem(10)
    .to-space
      position: relative
      color: #888888
      .link
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        font-size: px2rem(13)
        .arrow
          svg
            transform: rotateZ(-90deg)
  .statistics
    height: px2rem(40)
    margin: px2rem(5) 0
    display: grid
    grid-template-columns: 33.33% 33.33% 33.33%
    .container
      position: relative
      display: grid
      grid-template-rows: 50% 50%
      text-align: center
      .data,
      .title
        line-height: px2rem(20)
      .data
        font-size: px2rem(16)
        font-weight: bold
      .title
        font-size: px2rem(10)
        color: #777777
      &.follower
        &:before,
        &:after
          position: absolute
          top: 50%
          transform: translateY(-50%)
          content:""
          display: inline-block
          width: px2rem(1)
          height: 40%
          background-color: #999999
        &:after
          right: 0

        