<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>( ゜- ゜)つロ干杯~</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- 安卓地址及系统栏颜色-->
  <meta name="theme-color" content="#de698c">
  <!-- iOS地址及系统栏颜色-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- 标题栏图标 -->
  <link rel="shortcut icon" href="/public/images/bilibili.png">
  <!-- iconFont -->
  <link rel="stylesheet" href="/public/css/icon-font.css">
  <script defer src="//at.alicdn.com/t/font_1952871_5ksd8q2a7fx.js"></script>
  <!-- 适配不同大小屏幕 -->
  <script defer type="text/javascript" src="/public/js/adapter.js"></script>
  <!-- 人机验证配置 -->
  <script defer type="text/javascript" src="/public/js/geetest.js"></script>
  <!--react-ssr-head-->
</head>

<body>
  <!--react-ssr-outlet-->
</body>

</html>