<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>( ゜- ゜)つロ干杯~</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- <link rel="stylesheet" href="http://at.alicdn.com/t/font_1952871_4n3thv0w2bh.css"> -->
  <script src="http://at.alicdn.com/t/font_1952871_4s4o0at1qfy.js"></script>
  <link rel="shortcut icon" href="/public/bilibili.png">
  <script type="text/javascript" src="/public/js/adapter.js"></script>
  <!--react-ssr-head-->
</head>

<body>
  <!--react-ssr-outlet-->
</body>

<style type="text/css">
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
</style>

</html>